<p>upload-product works!</p>
{{ diagnostic }}
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div>
    <mat-tab-group style="margin: 100px">
      <mat-tab label="First">
        <mat-form-field appearance="fill">
          <mat-label>Name of Product</mat-label>
          <input
            matInput
            [(ngModel)]="product.productName"
            name="productName"
            #name="ngModel"
          /> </mat-form-field
        ><br />
        <mat-form-field appearance="fill">
          <mat-label>Id of Product</mat-label>
          <input
            matInput
            [(ngModel)]="product.productId"
            name="productId"
          /> </mat-form-field
        ><br />
        <mat-form-field appearance="fill">
          <mat-label>Price of Product</mat-label>
          <input
            matInput
            [(ngModel)]="product.priceOfProduct"
            name="priceOfProduct"
          /><br />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type of Product</mat-label>
          <input
            matInput
            [(ngModel)]="product.productType"
            name="productType"
          /> </mat-form-field
        ><br />
      </mat-tab>

      <div>
        <mat-tab label="Second">
          <mat-form-field
            appearance="fill"
            style="max-height: 132px; height: 500px"
          >
            <mat-label>Product Description</mat-label>
            <textarea
              matInput
              [(ngModel)]="product.productDescription"
              name="productDescription"
            ></textarea></mat-form-field
          ><br />
          <mat-form-field appearance="fill">
            <mat-label>Your Name</mat-label>
            <input
              matInput
              [(ngModel)]="product.yourName"
              name="yourName"
            /> </mat-form-field
          ><br />
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              [(ngModel)]="product.phoneNumber"
              name="phoneNumber"
            /> </mat-form-field
          ><br />
          <mat-form-field appearance="fill">
            <mat-label>Email ID</mat-label>
            <input
              matInput
              [(ngModel)]="product.eMail"
              name="eMail"
            /> </mat-form-field
          ><br />
        </mat-tab>
      </div>

      <mat-tab label="Third">
        ?
        <div style="margin: 23px">
          <label for="Date of Product" Product>Date Of Product:</label>
          <input
            type="date"
            id="dateOfProduct"
            name="dateOfProduct"
            [(ngModel)]="product.dateOfProduct"
          />
        </div>
        <!--<mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field><br>  -->
        <mat-form-field appearance="fill">
          <mat-label>Paste Link of Image</mat-label>
          <input
            matInput
            [(ngModel)]="product.image"
            name="image"
          /> </mat-form-field
        ><br />
        <button
          mat-raised-button
          color="orange"
          style="background: orange; margin-left: 25px"
          (click)="onClick()"
        >
          ADD
        </button>

        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!heroForm.form.valid"
        >
          Submit
        </button>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>
