<div style="display: flex;justify-content: center;margin-top: 190px;">
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>E-Mail</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <textarea matInput placeholder="password"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink='/products'>Login</button>
    <button mat-raised-button color="warn">Google+</button>
    <br><br><br>
    <p>NewUser?<a routerLink="/login-signup">Register here!</a></p>
  </form>
  </div>